body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.png');
    background-size: cover;
    text-align: left;
}
header {    
    color: #5e0c0c;
    text-align: center;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #1e2020;
}
nav ul li {
    display: inline;
    margin-right: 5px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #5e0c0c;
    border-radius: 3px;
}
nav ul li a:hover {
    background-color: #bbb;
}
main {
    padding: 10px;
}
h2{
    color: #bbb;
}
p {
    color: #bbb;
}
.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1e2020;
    background-color: #f9f9f9;
}
.post h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.post p {
    font-size: 14px;
    margin-bottom: 5px;
}
.sobre{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;

}